// Les commentaires
// "/* */" Présent à la sortie du CSS, "//" Pas compile (pas présent dans le CSS de sortie)

/*--------------------------------------------------------------
# Import
--------------------------------------------------------------*/
@import "./reset.scss"; //Reset CSS
@import "./variables.scss"; //Variables
@import "./modal.scss"; //Modal
@import "./animations.scss"; //Animations

@import url('https://fonts.googleapis.com/css?family=Montserrat');


/*--------------------------------------------------------------
# Legacy css
--------------------------------------------------------------*/
%bold_text {
    font-weight: 900;
    font-size: 1.4rem;
}

html {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    height: 100%; 
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    user-select: none;          /* Likely future */    
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;
    overflow-x: hidden;
}


/* ul {
  padding: 0;
  list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
input:focus, button:focus{
    outline-color: $color__primary;
} */